.financialHelpForm {
    padding: 10px;
    width: 100%;
    min-height: 500px;
    position: relative;
    display: flex;
    flex-direction: row;
}

.payMethodsContainer {
  width: 50%;
}

.cardDataContainer {
  width: 50%;
}

.payMethodsList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.provider {
  width: 100%;
  min-height: 80px;
}
