.panelForm {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: space-between;
    
    fieldset { 
        display: flex;
        padding: 0px;
        flex-direction: column;
        max-width: 456px;
        width: 100%;
    }

}

$gap: 25px;

.horizontal {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: $gap;
    flex-direction: row;
}

.inputModifier {
  max-width: calc(50% - $gap / 2);
}