.panelForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100%;

    fieldset { 
        display: flex;
        flex-direction: column;
    }

}

.horizontal {
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: row;
}