.panelForm {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: space-between;
    
    fieldset { 
        display: flex;
        padding: 0px;
        flex-direction: column;
        max-width: 456px;
        width: 100%;
    }

}

.horizontal {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-direction: row;

}