@use '../../../../../../scss/colors.scss' as *;

.helpBodyWrappper {
    width: 100%;
    position: relative;
    margin-top: 21px;
    width: 100%;
    min-height: 500px;
    border: 3px solid $gray-dark;
    border-radius: 20px;
    position: relative;
}
