.financialHelpForm {
    padding: 10px;
    width: 100%;
    min-height: 500px;
    position: relative;
    display: flex;
    flex-direction: row;
    // z-index: 100;
}

.payMethodsContainer {
  width: 50%;
}

.cardDataContainer {
  width: 50%;
}

.payMethodsList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.provider {
  width: 100%;
  min-height: 80px;
}


 
  /* firefox leaves an artefact at certain sizes so adding a border or changing the size by a couple of px or changing the clip-path percentages can offset it.
  
  It's a Firefox bug:
  https://bugzilla.mozilla.org/show_bug.cgi?id=1671784
  
  */