.tabs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabButtons {
    width: 100%;
    display: flex;
    justify-content: center;
}

.tabWrapper {
    width: 100%;
}
.hidden {
    display: none;
}

.tabPanel {
    width: 100%;
}