.tabView {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabButtons {
    margin-top: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.tabWrapper {
    width: 100%;
}
.hidden {
    display: none;
}

.tabPanel {
    width: 100%;
    min-height: 400px;
}

.tabStart {
    border-radius: 15px;
}

$border: 5px;

.tab {
    width: 125px;
    font-size: 15px;
    margin-bottom: 40px;
}

.tabFirst {
    border-top-left-radius: $border;
    border-bottom-left-radius: $border;
}

.tabMiddle {
    border-radius: 0px;
}

.tabLast {
    border-top-right-radius: $border;
    border-bottom-right-radius: $border;
}
