@use '../../../../../../scss/colors' as *;

.helpTypesList {
    display: grid;
    width: 100%;
    max-width: 1190px;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}

.helpType {
    display: flex;
    flex-direction: row;
    align-items: center;

    p {
        margin-left: 20px;
        font-weight: 600;
        line-height: 20px;
        font-size: 20px;
        max-width: 145px;
    }
}

@mixin border($color) {
    border: 3px solid $color;
}

.helpListBtn {
    width: 50px;
    height: 50px;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
    border-radius: 15px;
    padding: 15px;
    box-sizing: content-box;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white;
    @include border($outline);

    svg {
        fill: $outline;
    }

}

.activeBtn {
    @include border($purple);
    background-color: $purple;

    svg {
        fill: $white;
    }
}