@use '../../../../../../scss/colors' as *;

.helpTypesList {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
}

.helpType {
    display: flex;
    flex-direction: row;
    align-items: center;

    p {
        margin-left: 20px;
    }
}

//mixin to apply border color 
@mixin border($color) {
    border: 3px solid $color;
}


.helpListBtn {
    width: 70px;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
    height: 70px;
    border-radius: 15px;
    padding: 15px;
    box-sizing: content-box;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white;
    @include border($outline);

    svg {
        fill: $outline;
    }

}

.activeBtn {
    @include border($purple);
    background-color: $purple;

    svg {
        fill: $white;
    }
}