@use '../../scss/colors.scss' as *;
.triangle {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 24px solid $gray-dark;
    display: block;
}

.triangleInner {
    position: relative;
    display: block;
    left: -17px;
    top: 6px;
    width: 0;
    height: 0;
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
    border-bottom: 20px solid rgb(255, 255, 255);
}