@use '../../../../../../scss/colors' as *;

.helpBodyWrappper {
    width: 100%;
    position: relative;
    margin-top: 21px;
    width: 100%;
    min-height: 100px;
    border: 3px solid $gray-dark;
    border-radius: 20px;
    position: relative;
}

.helpTypesList {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1190px;
    justify-content: space-between;
    align-items: center;
}

.helpType {
    display: flex;
    flex-direction: row;
    flex: 3;
    align-items: center;

    p {
        margin-left: 20px;
        font-weight: 600;
        line-height: 20px;
        font-size: 20px;
        max-width: 145px;
    }
}

@mixin border($color) {
    border: 3px solid $color;
}

.helpListBtn {
    width: 50px;
    height: 50px;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, .2s ease-in-out 0s;
    border-radius: 15px;
    padding: 15px;
    box-sizing: content-box;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white;
    @include border($outline);

    svg {
        fill: $outline;
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            transform: scale(1.05); 
        }
    }

}


.activeBtn {
    @include border($purple);
    background-color: $purple;

    svg {
        fill: $white;
    }
}

@media (max-width: 1070px) {

    .helpTypesList {
        gap: 30px;
    }

    .helpType {

        p {
            margin-left: 10px;
            font-weight: 600;
            line-height: 20px;
            font-size: 16px;
        }
    }

    .helpListBtn {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 930px) {
    .helpType {
       
        p {
            margin-left: 5px;
            font-size: 15px;
        }
    }

    .helpListBtn {
        width: 30px;
        height: 30px;
    }
}